* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Montserrat', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}